<div class="sidebar-main flex flex-col">
  <img class="nav-label center-icon" alt="menu" src="assets/icons/menu-icon.svg">
  <div class="sidebar-content">
    <button
      matTooltip="Home"
      matTooltipPosition="right" routerLink="/Home">
      <img alt="home" class="center-icon" src="assets/icons/home-icon.svg">
    </button>
    <button
      matTooltip="Home"
      matTooltipPosition="right"
      routerLink="/Home">
      <img alt="home" class="center-icon" src="assets/icons/home-icon.svg">
    </button>
  </div>

</div>
