.t-header {
  position: fixed;
  right: 0;
  left: 66px;
  top: 0;
  background-color: white;
  z-index: 10000
}
.t-menu {
  position: fixed;
  top:0;
  left: 0;
  width: 66px;
}
.t-main {
  top: 66px;
  left: 66px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
}
